[submodule "Core/Vendor/imgui"]
	path = Core/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	ignore = dirty
[submodule "Core/Vendor/spdlog"]
	path = Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Core/Vendor/glm"]
	path = Core/Vendor/glm
	url = https://github.com/g-truc/glm
	ignore = dirty
